---
import MainLayout from "@/layouts/MainLayout.astro";
import FAQCard from "@/components/FAQCard.astro";
---

<MainLayout
  title="Frontend Mentor | FAQ Accordion"
  description="A FAQ accordion component challenge from Frontend Mentor."
>
  <main
    class="flex min-h-screen items-center justify-center bg-theme-light-pink bg-[url(/background-pattern-mobile.svg)] bg-contain bg-no-repeat md:bg-[url(/background-pattern-desktop.svg)] lg:items-start lg:pt-69"
  >
    <div class="px-6 sm:px-12 md:px-24"><FAQCard /></div>
  </main>
</MainLayout>
