---
import MainLayout from "@/layouts/MainLayout.astro";
import FAQCard from "@/components/FAQCard.astro";
const mobileBg = `url(${import.meta.env.BASE_URL}background-pattern-mobile.svg)`;
const desktopBg = `url(${import.meta.env.BASE_URL}background-pattern-desktop.svg)`;
---

<MainLayout
  title="Frontend Mentor | FAQ Accordion"
  description="A FAQ accordion component challenge from Frontend Mentor."
>
  <main
    class="responsive-bg md:bg-desktop flex min-h-screen items-center justify-center bg-theme-light-pink bg-contain bg-no-repeat lg:items-start lg:pt-69"
  >
    <div class="px-6 sm:px-12 md:px-24"><FAQCard /></div>
  </main>
</MainLayout>

<style define:vars={{ mobileBg, desktopBg }}>
  .responsive-bg {
    background-image: var(--mobileBg);
  }

  @media (min-width: 48em) {
    .responsive-bg {
      background-image: var(--desktopBg);
    }
  }
</style>
