---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Frontend Mentor | FAQ Accordion">
  <main>
    <div
      class="h-60 bg-[url(/background-pattern-mobile.svg)] bg-cover bg-center bg-no-repeat md:h-80 md:bg-[url(/background-pattern-desktop.svg)]"
    >
    </div>
    <div class="bg-theme-light-pink h-screen"></div>
  </main>
</MainLayout>
