---
import MainLayout from "@/layouts/MainLayout.astro";
import FAQCard from "@/components/FAQCard.astro";
---

<MainLayout title="Frontend Mentor | FAQ Accordion">
  <main>
    <div
      class="h-60 bg-[url(/background-pattern-mobile.svg)] bg-cover bg-center bg-no-repeat xl:h-80 xl:bg-[url(/background-pattern-desktop.svg)]"
    >
    </div>
    <div class="bg-theme-light-pink relative flex h-screen justify-center">
      <div class="absolute -top-22 w-full px-5 md:px-16 lg:max-w-4/6 xl:max-w-2/5 xl:px-0">
        <FAQCard />
      </div>
    </div>
  </main>
</MainLayout>
