---
import MainLayout from "@/layouts/MainLayout.astro";
import FAQCard from "@/components/FAQCard.astro";
---

<MainLayout title="Frontend Mentor | FAQ Accordion">
  <main
    class="bg-theme-light-pink flex min-h-screen items-center justify-center bg-[url(/background-pattern-mobile.svg)] bg-contain bg-no-repeat md:bg-[url(/background-pattern-desktop.svg)]"
  >
    <div class="px-6 sm:px-12 md:px-24"><FAQCard /></div>
  </main>
</MainLayout>
