---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Frontend Mentor | FAQ Accordion">
  <main class="flex h-screen items-center justify-center">
    <h1 class="text-theme-grayish-purple text-2xl font-bold">Hello from FAQ Accordion!</h1>
  </main>
</MainLayout>
